[Unit]
Description=Home Assistant
After=network-online.target

[Service]
Type=simple
User=%i
WorkingDirectory={{ homeassistant_homedir }}/.homeassistant
ExecStart={{ homeassistant_venv }}/bin/hass -c "{{ homeassistant_homedir }}/.homeassistant"
RestartForceExitStatus=100

[Install]
WantedBy=multi-user.target
